{{!-- views/todo.hbs --}}

<h1>To Do List:</h1>
<p>{{message}}</p>
<ul>
  {{#each todoList}} 
    {{!-- Item Info --}}
    <li>
      <p>Item#: {{id}}</p>
      <p><b>{{content}}</b></p> 
      <p>Done:{{completed}}</p> 
    </li>

    {{!-- UPDATE COMPLETED STATUS --}}
    <form method="POST" action="/todo/{{id}}/update">
      <label for="status"><b>Completed?</b></label>
      <select id="status" name="status">
        <option name="true" value="true">DONE</option>
        <option name="false" value="false">NOPE</option>
      </select>
      <input type="submit" value="Save Changes"/>
    </form>

    {{!-- DELETE ITEM --}}
    <form method="POST" action="/todo/{{id}}/delete">
      <label for="delete"><b>Delete?</b></label>
      <input id="delete" type="submit" value="Delete Item"/>
    </form>

  {{/each}}
</ul>


{{!-- ADD NEW TO-DO ITEM --}}
<form method="POST" action="/todo">
  <label for="content">Add New To-Do:</label>
  <input type="text" id="content" name="content"/>
  <input type="submit"/>
</form>

