{{!-- views/todo.hbs --}}

<h1>To Do List:</h1>
<p>{{message}}</p>
<ul>
  {{#each todoList}} 
    {{!-- Item Info --}}
    <li>
      <h3>{{content}}  #{{id}}  ||  <span style="color:purple;">Done: <em>{{completed}}</em></span> </h3>
    </li>

    {{!-- UPDATE COMPLETED STATUS --}}
    <form method="POST" action="/todo/{{id}}/update">
      <label for="status"><b>Completed?</b></label>
      <select id="status" name="status">
        <option name="true" value="true">DONE</option>
        <option name="false" value="false">NOPE</option>
      </select>
      <input type="submit" value="Save Changes"/>
    </form>

    {{!-- DELETE ITEM --}}
    <form method="POST" action="/todo/{{id}}/delete">
      <label for="delete"><b>Delete?     </b></label>
      <input id="delete" type="submit" value="Delete Item"/>
    </form>

    {{!-- EDIT CONTENT --}}
    <form method="POST"action="/todo/{{id}}/update">
      <label for="edit"><b>Edit Content:</b></label>
      <input type="text" id="edit" name="edit"/>
      <input type="submit" value="Save Changes"/>
    </form>
  <p>_________________________________________________________</p>
  {{/each}}
</ul>

<br>
<br>

{{!-- ADD NEW TO-DO ITEM --}}
<form method="POST" action="/todo">
  <label for="content"><b>Add New To-Do:</b></label>
  <input type="text" id="content" name="content"/>
  <input type="submit"/>
</form>

